<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/mypage">MyPage</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="/notice">Notice</a></li>
        <li><a href="/info">Site Info</a></li>
    </ul>

    <a href="/join">To Join Page</a>
    <a href="/product">To Product Page</a>
    <% include ./templates/login %>
    <form action="/recommend" method="POST">
        
    </form>
</body>
</html>