<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <a href="/join">To Join Page</a>
    <a href="/product">To Product Page</a>
    <% include ./templates/login %>
    <form action="/recommend" method="POST">
        
    </form>
</body>
</html>