<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        /*imgs*/
		#main-img{
			width: 1100px;
			height: 600px;
            margin:0px auto;
			margin-bottom: 50px;
			background-color: gray;
            display: block;
		}

/*user input*/
		#user-input{
			border-radius: 15px 15px 15px 15px;
			width: 1100px;
			margin: 0px auto;
			margin-bottom: 50px;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
			word-break: break-word;
			text-align: left;
		}

		#user-input h2{
			width: 1000px;
			border-bottom: 3px solid #4285f4;
			padding-top: 20px;
			margin: 0px auto;
		}

		#question-wrapper{
			width: 950px;
			height: 150px;
			padding-top: 50px;
			margin:  0px auto;
			font-size: 20px;
			text-align: center;
		}

/*input*/
		#question{
			width: 820px;
			height:50px;
			float: left;
		}
		#question input{
			float: left;
		}
		#question p{
			float: left;
		}
		#question input[type=radio]{
			width:15px;
			height:15px;
			margin-left: 40px;
			margin-right:10px;
			margin-top: 8px;
		}
		#question input[type=number]{
			width:700px;
			height:50px;
			margin-left: 40px;
			font-size: 20px;
			background-color: white;
			border: 2px solid #cccccc;
			border-radius: 7px 7px 7px 7px ;
			text-align:center;
		}

/*next*/
		#question-wrapper button{
			width:110px;
			height:50px;
			float: left;
			color: white;
			font-size: 20px;
			background-color: #4285f4;
			border: none;
			border-radius: 7px 7px 7px 7px ;
		}

/*product*/

		#product-wrapper{
            width: 290px;
            margin: 0px 55px;
			margin-bottom: 50px;
            float:left;
            border-radius: 10px 10px 10px 10px;
		}
		#shadow{
			margin-bottom: 10px;
		}
		#shadow :hover{
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }
        #product{
            width: 290px;
            padding: 20px 25px;
            color: #555555
        }
        #product :hover{
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
        }
        #product :active{
            color: #555555;
            text-decoration: none;
        }
        #product :visited{
            color: #555555;
            text-decoration: none;
        }
        .product-img{
            padding-top: 10px;
            width: 240px;
            text-align: center;
            background-color: white;
        }
        .product-img img{
            height: 200px;
        }
        .product-info{
            width: 210px;
            height: 100px;
			margin: 0px 15px;
            padding: 10px 0px;
			text-decoration: none;
        }
        .product-info p{
            width: 220px;
            text-align: left;
			font-size: 14px;
        }
		#brand{
			margin-bottom: 5px;
			color:  #4285f4;
		}

/*sns*/
        #sns {
            height: 50px;
            padding: 10px 15px;
            background-color: white;
        }

        #sns div{
            width: 60px;
            float:left; 
            padding-right: 8px;
        }

        #sns div img{
            height: 20px;
            float:left; 
            padding-right: 5px;

        }

    </style>
</head>
<body onload="initial()">
    <% include ./templates/header %>
    <div id="content">
        <img id="main-img" src="/image/main.png">
        <!--<p id="question-info" style="color:red">(사용자)님에게 적합한 보충제를 찾기 위한 질문이 4개 준비되어 있습니다.</p>-->
        <div id="user-input">
            <h2>앓고 계시는 신장 질환이 있으신가요?</h2>
            <div id="question-wrapper">
                    <form id="question" onsubmit="return false">    
                        <input type="radio" class="res_1" name="res_1" value="T" checked>
                        <p>네</p>
                        <input type="radio" class="res_1" name="res_1" value="F">
                        <p>아니오</p>
                    </form>
                    <button type="button" onclick="nextQuestion_radio('res_1',str_2)">응답</button>
            </div>
        </div>  
    </div>
    <%- include('templates/login',{loginInfo:loginInfo}) %>
    <script>
        const resQueue=[];
        const str_2=`
            <div>
                <h2>보충제 섭취의 목적이 어떻게 되시나요?</h2>
                <div id="question-wrapper">
                    <form id="question" onsubmit="return false">
                        <input type="radio" class="res_2" name="res_2" value="체중감량" checked>
                        <p>체중감량</p>
                        <input type="radio" class="res_2" name="res_2" value="근육증가">
                        <p>근육증가</p>
                        <input type="radio" class="res_2" name="res_2" value="일반적인 운동">
                        <p>일반적인 운동 목적</p>
                    </form>
                    <button type="button" onclick="nextQuestion_radio('res_2',str_3)">응답</button>
                </div>
            </div>
        `;

        const str_3=`
            <div>
                <h2>귀하의 몸무게를 소수점 한자리까지 입력해주세요</h2>
                <div id="question-wrapper">
                    <form id="question" onsubmit="return false">
                        <input type="number" id="res_3" name="res_3">
                    </form>
                    <button type="button" onclick="nextQuestion('res_3',str_4)">응답</button>
                </div>
            </div>
 
        `;

        const str_4=`
            <div>
                <h2>당뇨 질환을 앓고 계십니까?</h2>
                <div id="question-wrapper">
                    <form id="question" onsubmit="return false">    
                        <input type="radio" class="res_4" name="res_4" value="T" checked>
                        <p>네</p>
                        <input type="radio" class="res_4" name="res_4" value="F">
                        <p>아니오</p>
                    </form>
                    <button type="button" onclick="lastQuestion('res_4',str_5)">응답</button>
                </div>
            </div>
        `
        
        const str_5="처리중입니다. 잠시만 기다려주세요";
        
        function createElementFromHTML(htmlString){
            const div=document.createElement('DIV');
            div.innerHTML=htmlString.trim();
            return div.firstChild;
        }

        //Radio 버튼인 곳에 적용할 로직
        function nextQuestion_radio(resNum,htmlString){
            const questionWrapper=document.getElementById("user-input");
            let resValue=null;
            
            const eleList=document.getElementsByClassName(resNum);
            
            for(ele of eleList){
                if(ele.checked){
                    resValue=ele.value;
                    break;
                }
            }
            resQueue.push(resValue);
            let len=questionWrapper.childNodes.length;
            
            for(let i=0;i<len;i++){
                questionWrapper.removeChild(questionWrapper.childNodes[0]);
            }
            questionWrapper.appendChild(createElementFromHTML(htmlString));
        }

        function nextQuestion(resNum,htmlString){
            const questionWrapper=document.getElementById("user-input");
            const resValue=document.getElementById(resNum).value;
            resQueue.push(resValue);

            questionWrapper.removeChild(questionWrapper.children[0]);
            questionWrapper.appendChild(createElementFromHTML(htmlString));
        }

        function lastQuestion(resNum,htmlString){
            const questionWrapper=document.getElementById("user-input");
            let resValue=null;

            const eleList=document.getElementsByClassName(resNum);

            for(ele of eleList){
                if(ele.checked){
                    resValue=ele.value;
                    break;
                }
            }
            resQueue.push(resValue); 
            console.log(`Last Response Queue : ${resQueue}`);

            questionWrapper.remove();
            //처리중입니다 => 귀하에게 적합한 제품은 다음과 같습니다. (AJAX요청 완료 시)
            const xhttp=new XMLHttpRequest();
            const url='/recommend';
            xhttp.open('POST',url,true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.onreadystatechange=()=>{
                //JSON응답을 배열로 받아, 응답의 갯수만큼 IMG태그를 만들어 노출시키는 로직 설계하기
                if(xhttp.readyState==4&&xhttp.status==200){
                    if(xhttp.responseText===null){
                        console.log("응답이 비어있습니다!");
                    }else{
                        const result=JSON.parse(xhttp.responseText);
                        for(let i=0;i<result.length;i++){
                            const content=document.getElementById("content");
                            let str=`
                            <div id="product-wrapper">
                                <div id="shadow">
                                    <a href="/product/${result[i][0].p_id}">
                                        <div id="product">
                                            <div class="product-img">
                                                <img src="${result[i][0].p_image}">
                                            </div>
                                            <div class="product-info">
                                                    <p id="brand"><span>${result[i][0].p_brand}</span></p>
                                                    <p><span>${result[i][0].p_name}</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            `;
                            content.appendChild(createElementFromHTML(str));
                        }
                    }
                }
            }

            const data={
                res_1:resQueue[0],
                res_2:resQueue[1],
                res_3:resQueue[2],
                res_4:resQueue[3]       
            };

            xhttp.send(JSON.stringify(data));
        }
    </script>
</body>
</html>