<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        #content{
            width:1304px;
            margin:0 auto;
            padding: 0px 50px;
            padding-top: 150px;
            padding-bottom: 20px;
            overflow: hidden;
            border-left: 2px solid #dddddd;
            border-right: 2px solid #dddddd;
        }
    </style>
</head>
<body>
    <% include ./templates/header %>
    <div id="content">
        <form action="/recommend" method="POST">
            <h1>User Input Page</h1>
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="submit">
        </form>
    </div>
    <%- include('templates/login',{loginInfo:loginInfo}) %>
</body>
</html>