<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            box-sizing: border-box;
        }
        #product-list{
            height:600px;
            width:680px;
        }

        #product-list:first-child{
            margin-left:15px;
        }

        div.product-wrapper{
            width:150px;
            height:200px;
            border: 1px solid #262626;
            margin-right:15px;
            overflow: hidden;
            float:left;
            margin-bottom:15px;
        }

        .product-image{
            display: block;
            margin: 10px auto;
            
        }

        #product-list a{
            text-decoration: none;
            color:#262626;
        }
    </style>
</head>
<body>
    <h1>Product Page</h1>
    <div id="product-list">
        <% viewData.forEach(function(data){ %>
        <a href="product/<%= data.p_id %>">
            <div class="product-wrapper">
                <img class="product-image" src="<%= data.p_image %>" width="120px" height="120px">
                <%= data.p_name %>
                <div class="product-icon-wrapper">
                    <img width="20px" height="20px" src="public/image/good.png">10
                    <img width="20px" height="20px" src="public/image/bad.png">3
                    <img width="20px" height="20px" src="public/image/comment.png">5
                </div>
            </div>
        </a>
        <% }) %>
    </div>
    
    <% include ./templates/login %>
    <a href="/product?page=1">To Product Page</a><br>
    <a href="/product/upload">To Product Upload Page</a><br>

    <a href="/product?page=1">Page 1</a>
    <a href="/product?page=2">Page 2</a>
    <a href="/product?page=3">Page 3</a>
    <a href="/product?page=4">Page 4</a>
    <a href="/product?page=5">Page 5</a>
</body>
</html>