
#mypage-title{
    width:1200px;
    padding-bottom: 5px;
    border-bottom: 5px solid #4285f4;
}

#mypage-form{
    width:500px;
    margin: 10px 25px;
	float:left;
}

#mypage-form div{
    margin: 10px 0px;
}

#mypage-form input {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #dddddd;
}

#mypage-form button{
    width: 70px;
    height: 22px;
    background-color: #aaaaaa;
    border-radius: 5px 5px 5px 5px;
    border: none;
    margin-left: 8px;
    color: white;
    font-size: 12px;
}
/*join-submit에 있던 배경색상 속성을 타입 선택자로 옮김, 불명의 원인으로 배경이 하얀색으로 지정됨*/
#mypage-form input[type="submit"]{
    background-color: #4285f4;
}

#join-submit{
    width: 130px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

#m_password_result{
    color:red;
    font-size: 12px;
    float: right;
    margin-right: 110px;
    margin-top: 5px;
}

#user-info{
	font-size: 14px;
}

/*좋아요 상품*/
#like-info{
    width:600px;
    margin: 10px 25px;
	float:left;
}

/*소제목*/
#you-like{
    width:600px;
	margin: 10px 0px;
	color: #4285f4;
	font-size: 20px;
}

#goodimg{
	width: 30px;
	margin-right: 10px;
	float:left;
}

/*상품 표시*/
#like-product{
    width:590px;
	height: 80px;
	margin: 10px 5px;
	color: #555555;
	border-radius: 7px 7px 7px 7px;
}

#likeproduct-img{
	width:110px;
	float: left;
	text-align: center;
}

#likeproduct-img img{
	height:80px;
}

#likeproduct-info{
	width: 480px;
	height:80px;
	padding-left: 10px;
	float: left;
}

#likeproduct-info p{
	margin: 10px auto;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*상품 그림자*/
#shadow :hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#like-product :hover{
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

#like-product :active{
	color: #555555;
	text-decoration: none;
}

#like-product :visited{
	color: #555555;
	text-decoration: none;
}
