<div id="header">
        <h1><img src="public/image/logo01.png"></h1>
</div>
<div id= "gnb-wrapper">
    <div id="gnb">
        <ul>
            <a href="/"><li id= "green">Home</li></a>
            <a href="/product?page=1"><li>Product</li></a>
            <a href="/join"><li>Join</li></a>
            <a href="/mypage"><li>MyPage</li></a>
            <a href="/info"><li>Info</li></a>
        </ul>
    </div>
</div>