<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    <div id="header">
            <a href="/"><img src="/image/logo01.png"></a>
            <h3>보충제, 언제까지 모르고 먹을것인가?</h3>
    </div>
    <div id= "gnb-wrapper">
        <div id="gnb">
            <ul>
                <a href="/"><li id= "currentMenu">Home</li></a>
                <% if(loginInfo.loginStatus){ %>
                    <a href="/logout"><li>Logout</li></a>    
                <% }else{ %>
                    <a href="/join"><li>Join</li></a>
                <% } %>
                <a href="/product?page=1"><li>Product</li></a>
                <a href="/mypage"><li>MyPage</li></a>
                <a href="/info"><li>Info</li></a>
            </ul>
        </div>
    </div>
</body>
</html>

