<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    <div id="header">
            <a href="/"><img src="/image/logo01.png"></a>
            <h3>보충제, 언제까지 모르고 먹을것인가?</h3>
    </div>
    <div id= "gnb-wrapper">
        <div id="gnb">
            <ul>
                
                <a href="/"><li id="menu_home">Home</li></a>
                <% if(loginInfo.loginStatus){ %>
                <a href="/logout"><li id="menu_logout">Logout</li></a>    
                <% }else{ %>
                <a href="/join"><li id="menu_join">Join</li></a>
                <% } %>
                <a href="/product?page=1"><li id="menu_product">Product</li></a>
                <% if(loginInfo.loginStatus){%>
                <a href="/mypage"><li id="menu_mypage">MyPage</li></a>
                <%}%>
                <a href="/info"><li id="menu_info">Info</li></a>
            
            </ul>
        </div>
    </div>
</body>
</html>

