<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
            text-decoration: none;
        }

        body {
            color: #555555;
            font-weight: bold;
            width: 100%;
            height: 100%;
            cursor: default;
        }
/*header*/
		#header{
			margin:0 auto;
			padding-top: 10px;
			width:100%;
			height: 70px;
			background-color: white;
			position: fixed;
		}

        #header img {
			height: 50px; 
			float: left;
			padding-left:5px;
		}

		#header h3{
			float: right;
			color:#aaaaaa;
			padding-top:15px;
			padding-right:15px;
		}

/*gnb*/
        #gnb-wrapper{
            width:100%;
            background-color: #F2F2F2;
            margin-top: 60px;
            position: fixed;
        }

		#gnb{
			width: 720px;
		}

        #gnb a{
            text-decoration: none;
            font-weight: bold;
            color: #4285f4;

        }

        #gnb ul{
            display: block;
            overflow: hidden;
        }

        #gnb li{
            line-height: 42px;
            display: inline-block;
            width:120px; 
            height:50px;
            padding-top: 2px;
            text-align: center;
            float: left;
        }

        #gnb li:visited{
            text-decoration: none;
            color: #4285f4;
        }

        #gnb li:hover{
            border-bottom:4px solid #4285f4;
        }

        #gnb li:first-child{
            margin-left:0px;
        }

        #gnb li:last-child{
            margin-right: 0px;
        }

        #gnb #currentMenu {
            background-color: #4285f4;
            color: white;
            border-radius: 0 20px 0 0;
        }

/*content*/
        #content{
            width:1304px;
            margin:0px auto;
            padding: 0px 50px;
            padding-top: 150px;
            padding-bottom: 20px;
            overflow: hidden;
            border-left: 2px solid #dddddd;
            border-right: 2px solid #dddddd;
        }
    </style>
</head>
<body>
    <div id="header">
            <a href="/"><img src="public/image/logo01.png"></a>
            <h3>보충제, 언제까지 모르고 먹을것인가?</h3>
    </div>
    <div id= "gnb-wrapper">
        <div id="gnb">
            <ul>
                <a href="/"><li id= "currentMenu">Home</li></a>
                <% if(loginInfo.loginStatus){ %>
                    <a href="/logout"><li>Logout</li></a>    
                <% }else{ %>
                    <a href="/join"><li>Join</li></a>
                <% } %>
                <a href="/product?page=1"><li>Product</li></a>
                <a href="/mypage"><li>MyPage</li></a>
                <a href="/info"><li>Info</li></a>
            </ul>
        </div>
    </div>
</body>
</html>

