<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(loginInfo.loginStatus){ %>
        Hello, <%=loginInfo.userName %>!!!
        <a href="/logout">Logout</a>
    <% }else{ %>
        <form action="/login/check" method="POST">
            ID : 
                <input 
                    type="text"
                    name="m_id_login"
                    id="m_id_login"><br>
            PW : 
                <input 
                    type="password"
                    name="m_password_login"
                    id="m_password_login"><br>
    
            <input type="submit" value="Login">
        </form>
    <% }%>
</body>
</html>